{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="crowdfund-body-background">
        <div class="crowdfund-carousel owl-carousel crowdfund-carousel-bg" id="crowdfund-carousel-bg">
            <div class="crowdfund-slide" style="background-image: url({% static 'img/1.png' %});"></div>
        </div>
        <div class="crowdfund-background-overlay"></div>
    </div>

    <header>
        <div class="crowdfund-menu">
            <div class="crowdfund-limit-width"><a class="crowdfund-menu-toggle" id="crowdfund-menu-toggle" href="#"></a></div>
        </div>
        <div class="crowdfund-menu-container" id="crowdfund-menu-container">
            <div class="crowdfund-menu-scroll-wrapper">
                <div class="crowdfund-menu-scroll">
                    <div class="crowdfund-menu-scroll-container">
                        <div class="crowdfund-menu-links">
                            <ul class="crowdfund-menu-list">
                                <li class="crowdfund-menu-item"><a class="scrollto" href="#welcome">About</a></li>
                                <li class="crowdfund-menu-item"><a class="scrollto" href="#crowdfund-section-video">Watch Trailer</a></li>
                                <li class="crowdfund-menu-item"><a class="scrollto" href="#gallery">Gallery</a></li>
                                <li class="crowdfund-menu-item"><a class="scrollto" href="#rewards">Donate Now</a></li>
                                <!-- <li class="crowdfund-menu-item"><a class="scrollto" href="#blog">Blog</a></li> -->
                                <li class="crowdfund-menu-item"><a class="scrollto" href="#faq">F.A.Q</a></li>
                                <!-- <li class="crowdfund-menu-item"><a class="scrollto" href="#contact">Contact</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Landing -->
    <section class="crowdfund-section-home crowdfund-section" id="home">
        <div class="crowdfund-home-content-wrapper">
            <div class="crowdfund-home-content">
                <div class="crowdfund-logo">
                    <h1 class="crowdfund-logo-title">When Will I Be Famous?</h1>
                    <div class="crowdfund-logo-subtitle">Enter The Hall Of Fame</div>
                    <div class="crowdfund-underline"></div>
                </div>
                <div class="crowdfund-button-container">
                    <a class="crowdfund-icon crowdfund-icon-color scrollto" href="{% url 'home' %}#welcome"><i class="fa fa-long-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Welcome Intro -->
    <section class="crowdfund-section crowdfund-section-color" id="welcome">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-content-padding">
                    <div class="crowdfund-title">
                        <h2>Help us tell a Story</h2>
                        <div class="crowdfund-underline"></div>
                    </div>
                    <p class="crowdfund-large">Life is a story. Tales that unfold every day — intentionally or fortuitously — as we try to find meaning to our existence. This quest for essence is not novel. It is a path that has been treaded for aeons by our kind — sometimes the trail is brutal, other times it leaves behind beautiful patterns. And we continue to make these stories — good or bad — true or imagined. It tells us who we are — and what we can become. It becomes the cord that binds our humanity together. It is what makes us humans.
                    </p>
                    <div>
                        <p class="crowdfund-large">
                            <strong>When Will I Be Famous?</strong> is a collection of 15 short stories — mostly set in Nigeria with a trove of themes like Football Trafficking, Politics, Criminal Justice System, Mental Health, Migration to Domestic Violence, Religion and Politics.
                        </p>
                        <p class="crowdfund-large">
                            The tales teeter along the excruciating path of the dreamer — floats in the canal of the lost, delves into the illusion that the mind can be subsumed in and still manages to emerge on the other side of triumph — but not without scars. 
                        </p>
                        <p class="crowdfund-large">
                            And this is where you come in. We need your support to help us tell this story that is all ours and etch your name in the Hall of Fame where you rightly belong!
                        </p>
                    </div>
                    <div class="crowdfund-text-center crowdfund-content-footer">
                        <div class="crowdfund-row crowdfund-row-vmiddle">
                            <div class="crowdfund-col crowdfund-col-12">
                                <a class="crowdfund-button crowdfund-mobile-fullwidth crowdfund-button-big scrollto" href="{% url 'home' %}#rewards">Support Campaign</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Trailer -->
    <div class="crowdfund-section crowdfund-section-video" id="crowdfund-section-video">
        <video width="100%" height="100%" controls>
            <source src="{% static 'video/trailer.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- Statistics -->
    <section class="crowdfund-section-statistic crowdfund-section crowdfund-section-color" id="statistics">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width crowdfund-phone-padding crowdfund-text-center">
                <div class="crowdfund-row">
                    <h4>Fundraising started! Time left:</h4>
                    <div class="crowdfund-countdown-full" id="fund-countdown"></div>
                    <hr class="crowdfund-hr" />
                </div>
                <div class="crowdfund-row">
                    <h4>Funding Goal</h4>
                    <div class="crowdfund-statistic-percent crowdfund-animated">
                        <strong class="crowdfund-statistic-percent-symbol"> $</strong>
                        <span class="crowdfund-animated-counter" data-thousand-delimiter=",">{{ goal }}</span>
                    </div>
                    <div class="crowdfund-progress crowdfund-fullwidth">
                        <div class="crowdfund-progress-percent">
                            <span class="crowdfund-animated-counter">{{ pct_disp }}</span><span>% Raised</span>
                        </div>
                        <div class="crowdfund-bar-bg">
                            <div class="crowdfund-bar crowdfund-animated" style="width: {{ pct }}%"></div>
                        </div>
                    </div>
                </div>
                <div class="crowdfund-row crowdfund-row-vmiddle" style="margin-top: 10px;">
                    <div class="crowdfund-col crowdfund-col-4 crowdfund-col-phone-12">
                        <span>$</span>
                        <h3 class="crowdfund-inline">{{ total }}</h3>
                        <span>Pledged</span>
                    </div>
                    <div class="crowdfund-col crowdfund-col-4 crowdfund-col-phone-12">
                        <h3 class="crowdfund-inline">{{ backers }}</h3>
                        <span>Backer{{ backers|pluralize }}</span>
                    </div>
                    <div class="crowdfund-col crowdfund-col-4 crowdfund-col-phone-12" style="margin-top: 15px;">
                        <a class="crowdfund-button scrollto" href="{% url 'home' %}#rewards">Back this project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="crowdfund-section crowdfund-section-blog">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-content-padding crowdfund-content-padding-vert-small">
                    {% for section in sections %}
                    <div class="crowdfund-post {% if not forloop.last %}crowdfund-post-border{% else %}crowdfund-block-color{% endif %}">
                        {% if section.image %}
                        <div class="crowdfund-post-img crowdfund-post-img-left" style="background-image: url({{ section.image.url }});"></div>
                        {% endif %}
                        <div class="crowdfund-post-container">
                            <h5 class="strong">{{ section.title }}</h5>
                            <div class="crowdfund-underline crowdfund-underline-small"></div>
                            {{ section.content|linebreaks|urlize }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery -->
    <section class="crowdfund-section crowdfund-section-portfolio crowdfund-section-color"  id="gallery">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-title">
                    <h2>Gallery</h2>
                    <div class="crowdfund-underline"></div>
                </div>
                <div class="crowdfund-portfolio crowdfund-portfolio-column-3 crowdfund-portfolio-showall">
                    <div class="crowdfund-portfolio-items">
                        {% for photo in photos %}
                        <div class="crowdfund-portfolio-item">
                            {% if photo.image %}
                            <a class="crowdfund-portfolio-item-container" href="{{ photo.image.url }}">
                                <img src="{{ photo.image_thumbnail.url }}" alt="{{ photo.caption }}" />
                                {% if photo.title or photo.caption %}
                                <div class="crowdfund-overlay">
                                    <div class="crowdfund-portfolio-item-content">
                                        {% if photo.title %}<h5>{{ photo.title }}</h5>{% endif %}
                                        {% if photo.caption %}
                                        <div class="crowdfund-phone-hidden">
                                            {% if photo.title and photo.caption %}<div class="crowdfund-underline crowdfund-underline-small"></div>{% endif %}
                                            <p>{{ photo.caption }}</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </a>
                            {% endif %}
                        </div>
                        {% empty %}
                        <p class="crowdfund-text-center">
                            No pictures yet.
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Rewards -->
    <section class="crowdfund-section crowdfund-section-light crowdfund-section-rewards" id="rewards">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-title">
                    <h2>Select a Reward</h2>
                    <div class="crowdfund-underline"></div>
                </div>
                <div class="crowdfund-table crowdfund-rewards-table">
                    {% for r in rewards %}
                    <div class="crowdfund-row">
                        <a href="{{ r.get_absolute_url }}">
                            <span class="crowdfund-column crowdfund-column-cost">${{ r.amount }}</span>
                            <span class="crowdfund-column crowdfund-column-description">
                                <h5>{{ r.name }}</h5>
                                {% for perk in r.perks.all %}
                                <p class="fg-color-gray-light">{{ perk }}</p>
                                {% endfor %}
                            </span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="crowdfund-section">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-content-padding">
                    <div class="crowdfund-title">
                        <h2>Thank you for being here</h2>
                        <div class="crowdfund-underline"></div>
                    </div>
                    <p class="crowdfund-large">
                        You will be doing us a lot of good if you could help spread the word about this book project! Even if you are not chipping in this time, feel free share our videos media tool kits and promotional materials on social media.
                    </p>
                    <p class="crowdfund-large">
                        My team and I would like to thank you profoundly for being on this page and considering chipping in. It’s no small thing for us. We love you!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ -->
    <section class="crowdfund-section crowdfund-section-color" id="faq">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-content-padding">
                    <div class="crowdfund-title">
                        <h2>Frequently Asked Questions</h2>
                        <div class="crowdfund-underline"></div>
                    </div>
                    <div class="crowdfund-content">
                        <div class="crowdfund-row">
                            <div class="crowdfund-col crowdfund-col-12">
                                <div class="crowdfund-row">
                                    <div class="crowdfund-accordion">
                                        {% for faq in faqs %}
                                        <a class="crowdfund-accordion-link {% if forloop.first  %}crowdfund-active{% endif %}">{{ faq.title }}</a>
                                        <div class="crowdfund-accordion-container {% if forloop.first %}crowdfund-active{% endif %}">
                                            {% for desc in faq.faqs.all %}
                                            {{ desc.description|linebreaks }}
                                            {% endfor %}
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Us -->
    <!-- <section class="crowdfund-section crowdfund-section-light crowdfund-section-contacts" id="contact">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-content-padding">
                    <div class="crowdfund-title">
                        <h2>Drop us a line</h2>
                        <div class="crowdfund-underline"></div>
                    </div>
                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="crowdfund-table crowdfund-table-contacts">
                            <div class="crowdfund-row">
                                <div class="crowdfund-col crowdfund-col-6 crowdfund-col-phone-12">
                                    {{ form.fullname }}
                                    {{ form.subject }}
                                    {{ form.from_email }}
                                </div>
                                <div class="crowdfund-col crowdfund-col-6 crowdfund-col-phone-12">
                                    {{ form.message }}
                                </div>
                            </div>
                        </div>
                        <div class="crowdfund-table crowdfund-content-footer">
                            <div class="crowdfund-column crowdfund-fullwidth">
                                <p class="italic">We do not share your personal information. All fields are required.</p>
                            </div>
                            <div class="crowdfund-column">
                                <button class="crowdfund-button crowdfund-mobile-fullwidth" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
    
{% endblock %}