{% extends "base.html" %}
{% load static %}
{% block title %}Pay by credit card{% endblock %}

{% block content %}
<style>
  .hosted-field {
  height: 10px;
}
#card-number, #cvv, #expiration-date {
  /* border: 1px solid #333;
  -webkit-transition: border-color 160ms;
  transition: border-color 160ms; */
  color: #2b2b2b;
  border-color: #777;
width: 100%;
    margin: 0 0 2rem 0;
    min-width: 15rem;
height: 55px;
border: none;
    box-sizing: border-box;
    background: none;
border-bottom: 2px solid #777;
transition: border 0.4s ease;
font-size: 18px;
    font-weight: 300;
    font-family: "Montserrat", "Helvetica", sans-serif;
}
#braintree-hosted-field-number {
  height:10px;
}
#card-number.braintree-hosted-fields-focused {
  border-color: #777;
}

#card-number.braintree-hosted-fields-invalid {
  border-color: tomato;
}

#card-number.braintree-hosted-fields-valid {
  border-color: limegreen;
}
</style>
<div class="crowdfund-body-background">
  <div class="crowdfund-carousel owl-carousel crowdfund-carousel-bg" id="crowdfund-carousel-bg">
      <div class="crowdfund-slide" style="background-image: url({% static 'img/1.png' %});"></div>
  </div>
  <div class="crowdfund-background-overlay"></div>
</div>

<section class="crowdfund-section">
  <div class="crowdfund-section-content">
      <div class="crowdfund-limit-width">
          <div class="crowdfund-title">
              <h2>Pay by credit card</h2>
              <div class="crowdfund-underline"></div>
          </div>
          <div class="crowdfund-post crowdfund-block-light">
              <div class="crowdfund-post-container-big crowdfund-text-large">
                  <div class="crowdfund-limit-width crowdfund-900">
                    <form id="payment" method="post">

                      <label for="card-number">Card Number</label>
                      <div id="card-number" class="field"></div>

                      <label for="cvv">CVV</label>
                      <div id="cvv" class="field"></div>

                      <label for="expiration-date">Expiration Date (MM / YY)</label>
                      <div id="expiration-date" class="field"></div>

                      <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                      {% csrf_token %}
                      <input type="submit" value="Pay">
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

  <!-- includes the Braintree JS client SDK -->
  <script src="https://js.braintreegateway.com/web/3.58.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.58.0/js/hosted-fields.min.js"></script>
  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({ // instantiate the braintree js client
      authorization: '{{ client_token }}' // generated by payment_process view
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({ // instantiate the hosted field component
        client: clientInstance,
        // custom css for the input fields
        styles: {
          'input': {'font-size': '13px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        // id selectors for the field
        fields: {
          number: {selector: '#card-number'},
          cvv: {selector: '#cvv'},
          expirationDate: {selector: '#expiration-date'}
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>
{% endblock %}
