{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="crowdfund-body-background">
        <div class="crowdfund-carousel owl-carousel crowdfund-carousel-bg" id="crowdfund-carousel-bg">
            <div class="crowdfund-slide" style="background-image: url({% static 'img/1.png' %});"></div>
        </div>
        <div class="crowdfund-background-overlay"></div>
    </div>
    
    <section class="crowdfund-section">
        <div class="crowdfund-section-content">
            <div class="crowdfund-limit-width">
                <div class="crowdfund-title">
                    <h2>{{ post.title }}</h2>
                    <div class="crowdfund-underline"></div>
                </div>
                <div class="crowdfund-post crowdfund-block-light">
                    <div class="crowdfund-post-img crowdfund-post-img-top" style="background-image: url('{{ post.image.url }}');"></div>
                    <div class="crowdfund-post-container-big crowdfund-text-large">
                        <div class="crowdfund-limit-width crowdfund-900">
                            {{ post.body|safe }}
                            <div class="crowdfund-post-footer">
                                <div class="crowdfund-row crowdfund-row-vtop">
                                    <div class="crowdfund-col crowdfund-col-6">
                                        <h5><strong>{{ post.created }}</strong></h5>
                                    </div>
                                    <div class="crowdfund-col crowdfund-col-6">
                                        <h5 class="crowdfund-text-right"><span>by&nbsp;</span><a href="https://themeforest.net/user/iltaen?ref=iltaen" target="_blank">iltaen</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}