{% extends 'base.html' %}
{% load static %}

{% block title %}Choose Payment Method{% endblock %}

{% block content %}
<div class="crowdfund-body-background">
  <div class="crowdfund-carousel owl-carousel crowdfund-carousel-bg" id="crowdfund-carousel-bg">
      <div class="crowdfund-slide" style="background-image: url({% static 'img/1.png' %});"></div>
  </div>
  <div class="crowdfund-background-overlay"></div>
</div>

<section class="crowdfund-section crowdfund-section-transparent">
    <div class="crowdfund-section-content">
        <div class="crowdfund-limit-width">
            <div class="crowdfund-content-padding">
                <div class="crowdfund-title">
                    <h2>Choose Payment Method</h2>
                    <div class="crowdfund-underline"></div>
                </div>
                <div class="crowdfund-content">
                    <div class="crowdfund-row">
                        <div class="crowdfund-col crowdfund-col-12">
                            <div class="crowdfund-row">
                                <div class="crowdfund-tab">
						            <div class="crowdfund-tab-header">
						            	<a class="crowdfund-tab-link" href="#">Pay via Bank Transfer</a>
						            	<a class="crowdfund-tab-link" href="#">Pay with Paypal</a>
						            	<a class="crowdfund-tab-link" href="#">Pay with Paystack</a>
						            </div>
						            <div class="crowdfund-tab-container">
						                <div class="crowdfund-tab-content">
						                	<p>You can easily make a direct Bank Transfer to my account.</p>
										    <p>
										        Bikosi Innovations<br>
										        1234321882<br>
										        Access Bank
										    </p>
						                </div>
						                <div class="crowdfund-tab-content">
						                	<p>You'll be redirected to the Paypal platform to complete your payment.</p>
										    {{ paypal_form.render }}
						                </div>
						                <div class="crowdfund-tab-content">
						                	<form>
                                              <script src="https://js.paystack.co/v1/inline.js"></script>
                                              <button type="button" onclick="payWithPaystack()"> Pay With Paystack </button>
                                            </form>
						                </div>
						            </div>
						        </div>
						        <div class="crowdfund-content-footer crowdfund-text-center">
				                    <a class="crowdfund-button crowdfund-button-big crowdfund-mobile-fullwidth" href="{% url 'home' %}">
				                        Abort Payment
				                    </a>
				                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block paystack %}
<script>
  function payWithPaystack(){
    var handler = PaystackPop.setup({
      key: '{{ paystack_key }}',
      email: '{{ order.email }}',
      amount: {{ paystack_amount }},
      reference: ''+Math.floor((Math.random() * 1000000000) + 1),
      callback: function(response){
          window.location.href = "{{paystack_redirect_url}}&trxref=" + response.reference
      },
      onClose: function(){
          alert('Your transaction was either aborted or not completed, this window would be closed.');
      }
    });
    handler.openIframe();
  }
</script>
{% endblock %}